* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.container {
  width: 400px;
  margin: auto;
}

p {
  margin-bottom: 10px;
}

.box {
  padding: 20px 60px;
  background-color: red;
}

pre {
  color: black;
  margin-top: 10px;
}

#output {
  background-color: green;
  border-radius: 5px;
  transition: background-color 2s;
}

#output:hover {
  background-color:red;
}
